<section class="content">
    <div class="row">
        <div class="col-md-12">

            <ul class="timeline">
                <li *ngFor="let data of helpLinks; let i = index">
                    <div class="timeline-item">

                        <h3 class="timeline-header no-border" style="font-weight: bold;">{{data.header}}</h3>

                        <div class="timeline-body" style="font-weight: bold;">

                            <a href="javascript:void(0)" *ngIf="!(data.type)"
                                (click)="openHelpLink(data)">{{data.link}}</a>

                            <a href="javascript:void(0)" *ngIf="data.type === 'document'"
                                (click)="openHelpDocument(data)">{{data.fileName}}</a>

                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>