<section class="content-header">
    <h1>
        Patient
    </h1>
</section>
<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">

            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Add Patient</h3>
                </div>

                <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit($event, form.value)">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_1" data-toggle="tab">General Information</a></li>
                            <li><a href="#tab_2" data-toggle="tab">Device Information</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                <div class="row">
                                    <div class="form-group col-md-6 col-xs-12">
                                        <input name="patientId" maxlength="50" formControlName="patientId"
                                            id="patientId" type="hidden" class="form-control" />

                                        <label for="firstName" class="col-sm-2 control-label">First Name</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" formControlName="firstName"
                                                id="firstName" name="firstName" placeholder="First Name">

                                            <small
                                                *ngIf="(submitted || firstName.dirty || firstName.touched) && firstName.hasError('required')"
                                                class="text-danger">Place is required</small>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6 col-xs-12">
                                        <label for="lastName" class="col-sm-2 control-label">Last Name</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" formControlName="lastName"
                                                id="lastName" name="lastName" placeholder="Last Name">

                                            <small
                                                *ngIf="(submitted || lastName.dirty || lastName.touched) && lastName.hasError('required')"
                                                class="text-danger">Last Name is required</small>
                                        </div>
                                    </div>


                                    <div class="form-group col-md-6 col-xs-12">
                                        <label for="age" class="col-sm-2 control-label">Age</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" formControlName="age" id="age"
                                                name="age" placeholder="Age">

                                            <small
                                                *ngIf="(submitted || age.dirty || age.touched) && age.hasError('required')"
                                                class="text-danger">Last Name is required</small>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6 col-xs-12">
                                        <label for="phone" class="col-sm-2 control-label">Phone Number</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" formControlName="phone" id="phone"
                                                name="phone" placeholder="Phone Number">

                                            <small
                                                *ngIf="(submitted || phone.dirty || phone.touched) && phone.hasError('required')"
                                                class="text-danger">Phone is required</small>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6 col-xs-12">
                                        <label for="email" class="col-sm-2 control-label">Email</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" formControlName="email" id="email"
                                                name="email" placeholder="Email">

                                            <small
                                                *ngIf="(submitted || email.dirty || email.touched) && email.hasError('required')"
                                                class="text-danger">Email is required</small>
                                        </div>
                                    </div>


                                    <div class="form-group col-md-6 col-xs-12">
                                        <label for="address1" class="col-sm-2 control-label">Address 1</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" formControlName="address1"
                                                id="address1" name="address1" placeholder="Address 1">

                                            <small
                                                *ngIf="(submitted || address1.dirty || address1.touched) && address1.hasError('required')"
                                                class="text-danger">Address 1 is required</small>
                                        </div>
                                    </div>


                                    <div class="form-group col-md-6 col-xs-12">
                                        <label for="address2" class="col-sm-2 control-label">Address 1</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" formControlName="address2"
                                                id="address2" name="address2" placeholder="Address 2">

                                            <small
                                                *ngIf="(submitted || address2.dirty || address2.touched) && address2.hasError('required')"
                                                class="text-danger">Address 2 is required</small>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6 col-xs-12">
                                        <label for="address3" class="col-sm-2 control-label">Address 3</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" formControlName="address3"
                                                id="address3" name="address3" placeholder="Address 2">

                                            <small
                                                *ngIf="(submitted || address3.dirty || address3.touched) && address3.hasError('required')"
                                                class="text-danger">Address 3 is required</small>
                                        </div>
                                    </div>


                                    <div class="form-group col-md-6 col-xs-12">
                                        <label for="address4" class="col-sm-2 control-label">Address 4</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" formControlName="address4"
                                                id="address4" name="address4" placeholder="Address 4">

                                            <small
                                                *ngIf="(submitted || address4.dirty || address4.touched) && address4.hasError('required')"
                                                class="text-danger">Address 4 is required</small>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6 col-xs-12">
                                        <label for="address5" class="col-sm-2 control-label">Address 5</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" formControlName="address5"
                                                id="address4" name="address5" placeholder="Address 5">

                                            <small
                                                *ngIf="(submitted || address5.dirty || address5.touched) && address5.hasError('required')"
                                                class="text-danger">Address 5 is required</small>
                                        </div>
                                    </div>


                                    <div class="form-group col-md-6 col-xs-12">
                                        <label for="zipcode" class="col-sm-2 control-label">ZipCode</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" formControlName="zipcode"
                                                id="zipcode" name="zipcode" placeholder="Zipcode">

                                            <small
                                                *ngIf="(submitted || zipcode.dirty || zipcode.touched) && zipcode.hasError('required')"
                                                class="text-danger">Zipcode is required</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="row text-right">
                                    <div class="col-md-12">
                                        <button type="button" (click)="previousTab()" class="pad_ex btn btn-default btn-flat prev-step" style="margin-right:5px">Previous</button>
                                        <button type="button" (click)="nextTab()" class="pad_ex btn btn-info btn-flat next-step">Next</button>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="tab_2">
                                <div class="row">
                                    <div class="form-group col-md-6 col-xs-12">
                                        <label for="placeName" class="col-sm-2 control-label">Latitude</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" formControlName="latitude"
                                                id="latitude" name="latitude" placeholder="Latitude">

                                            <small
                                                *ngIf="(submitted || latitude.dirty || latitude.touched) && latitude.hasError('required')"
                                                class="text-danger">Latitude is required</small>
                                        </div>
                                    </div>


                                    <div class="form-group col-md-6 col-xs-12">
                                        <label for="placeName" class="col-sm-2 control-label">Longitude</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" formControlName="longitude"
                                                id="longitude" name="longitude" placeholder="Longitude">

                                            <small
                                                *ngIf="(submitted || longitude.dirty || longitude.touched) && longitude.hasError('required')"
                                                class="text-danger">Longitude is required</small>
                                        </div>
                                    </div>


                                    <div class="form-group col-md-6 col-xs-12">
                                        <label for="placeName" class="col-sm-2 control-label">Device Name</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" formControlName="deviceName"
                                                id="deviceName" name="deviceName" placeholder="Device Name">

                                            <small
                                                *ngIf="(submitted || deviceName.dirty || deviceName.touched) && deviceName.hasError('required')"
                                                class="text-danger">Device Name is required</small>
                                        </div>
                                    </div>


                                    <div class="form-group col-md-6 col-xs-12">
                                        <label for="placeName" class="col-sm-2 control-label">Device Address</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" formControlName="deviceAddress"
                                                id="deviceAddress" name="deviceAddress" placeholder="Device Address">

                                            <small
                                                *ngIf="(submitted || deviceAddress.dirty || deviceAddress.touched) && deviceAddress.hasError('required')"
                                                class="text-danger">>Device Address is required</small>
                                        </div>
                                    </div>


                                    <div class="form-group col-md-6 col-xs-12">
                                        <label for="placeName" class="col-sm-2 control-label">Place</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" formControlName="placeId"
                                                id="placeId" name="placeId" placeholder="Device Address">

                                            <small
                                                *ngIf="(submitted || placeId.dirty || placeId.touched) && placeId.hasError('required')"
                                                class="text-danger">>placeId is required</small>
                                        </div>
                                    </div>


                                    <div class="form-group col-md-6 col-xs-12">
                                        <label for="placeName" class="col-sm-2 control-label">Severity</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" formControlName="severity"
                                                id="severity" name="severity" placeholder="Severity">

                                            <small
                                                *ngIf="(submitted || severity.dirty || severity.touched) && severity.hasError('required')"
                                                class="text-danger">>Severity is required</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="row text-right">
                                    <div class="col-md-12">
                                        <button type="button" (click)="previousTab()" class="pad_ex btn btn-default btn-flat prev-step" style="margin-right:5px">Previous</button>
                                        <button type="submit" id="btnSubmit" class="pad_ex btn btn-info btn-flat next-step">Save and Exit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="box-footer">
                        <button type="button" class="btn btn-default" style="margin-right: 15px;"
                            (click)="navigateToLocation()">Cancel</button>
                        <button type="submit" class="btn btn-primary" style="margin-right: 15px;">Submit</button>
                    </div>
                </form>




            </div>
        </div>
    </div>
</section>