<section class="content-header">
    <h1>
        Guidelines
    </h1>
</section>
<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Help Links</h3>
                    <button style="margin-right:5px" class="btn btn-info btn-flat pull-right"
                        (click)="openImportGuidelines()">
                        Import Guidelines
                    </button>
                </div>
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <div class="table-responsive">

                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                    class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Type</th>
                                            <th>Description</th>
                                            <th>Content</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of guidelines; let i = index">
                                            <td>{{data.id}}</td>
                                            <td>{{data.type}}</td>
                                            <td>{{data.description}}</td>
                                            <td>
                                                <a href="javascript:void(0)"
                                                    (click)="openImageLink(data)">{{data.fileName}}</a>
                                            </td>
                                            <td>
                                                <button style="margin-right:5px" title="Delete HelpLink"
                                                    (click)="openDeleteGuidelines(data)"
                                                    class="btn btn-small btn-flat btn-danger">
                                                    <i class="btn-icon-only fa fa-trash"> </i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="box-footer">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" data-backdrop="static" id="deleteGuidelines">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Delete Guidelines</h4>
            </div>
            <div class="modal-body">
                <p style="font-weight: bold; word-wrap: break-word;">
                    Do you want to delete {{model.description}} ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-flat" data-dismiss="modal">No</button>
                <button (click)="deleteGuidelines(model)" class="btn btn-info btn-flat">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-backdrop="static" id="importGuidelines">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Import Guidelines</h4>
            </div>
            <form class="form-horizontal" name="importForm"
                (ngSubmit)="importForm.form.valid && importGuidelines(importForm)" #importForm="ngForm" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">

                            <div class="form-group">
                                <label for="type" class="col-sm-3 control-label">Type:</label>

                                <div class="col-sm-9">

                                    <select name="type" #type="ngModel" [(ngModel)]="model.type" id="type"
                                        class="form-control" required>
                                        <option *ngFor="let type of types; let i = index" [value]="type.id">
                                            {{type.text}}
                                        </option>
                                    </select>

                                    <div *ngIf="importForm.submitted && !type.valid" class="text-danger">Type is
                                        required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="description" class="col-sm-3 control-label">Description:</label>

                                <div class="col-sm-9">
                                    <input id="description" type="text" autocomplete="off" class="form-control"
                                        name="description" [(ngModel)]="model.description" #description="ngModel"
                                        placeholder="Description" required>

                                    <div *ngIf="importForm.submitted && !description.valid" class="text-danger">
                                        Description is
                                        required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="content" class="col-sm-3 control-label">Content:</label>

                                <div class="col-sm-9">
                                    <input class="form-control" type="file" #fileInput required="required" />
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-flat" data-dismiss="modal">Close</button>
                        <button [disabled]="!importForm.form.valid" class="btn btn-info btn-flat">Upload</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>