/* You can add global styles to this file, and also import other style files */
@import '~ngx-bootstrap/datepicker/bs-datepicker.css';

.bs-timepicker-field {
    width: 55px !important;
    padding: .375rem .55rem;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid transparent !important;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #f4f4f4  !important;
}

.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
    border: 1px solid #d2d6de !important;
    border-radius: 0 !important;
    padding: 6px 12px;
    height: 34px !important;
    width: 100%;
}

.select2-container {
    box-sizing: border-box;
    display: block !important;
    margin: 0;
    position: relative;
}