<section class="content-header">
    <h1>
        Location
    </h1>
</section>
<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Location</h3>
                    <button class="btn btn-info btn-flat pull-right" (click)="openCreateLocation()">
                        Add Location
                    </button>
                </div>
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <div class="table-responsive">

                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                    class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Place</th>
                                            <th>Type</th>
                                            <th>Root</th>
                                            <th>Latitude</th>
                                            <th>Longitude</th>
                                            <th>Confirmed</th>
                                            <th>Active</th>
                                            <th>Recovered</th>
                                            <th>Deceased</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of tableLocations;">
                                            <td [style.fontWeight]="data.istarget ? 'bold': 'inherit'">
                                                {{data.placeName}}</td>
                                            <td>{{data.type}}</td>
                                            <td>{{data.root ? (data.root.placeName ? data.root.placeName : ''): ''}}
                                            </td>
                                            <td>{{data.latitude}}</td>
                                            <td>{{data.longitude}}</td>
                                            <td>{{data.covidInfo.confirmed}}</td>
                                            <td>{{data.covidInfo.active}}</td>
                                            <td>{{data.covidInfo.recovered}}</td>
                                            <td>{{data.covidInfo.deceased}}</td>
                                            <td>

                                                <button style="margin-right:5px" title="Patients"
                                                    (click)="openAssignedPatients(data)"
                                                    class="btn btn-small btn-flat btn-default">
                                                    <i class="btn-icon-only fa fa-users"> </i>
                                                </button>

                                                <button style="margin-right:5px" title="Quarantined Persons"
                                                    (click)="openAssignedPersons(data)"
                                                    class="btn btn-small btn-flat btn-default">
                                                    <i class="btn-icon-only fa fa-user-md"> </i>
                                                </button>

                                                <button style="margin-right:5px" title="Edit Location"
                                                    (click)="openEditLocation(data)"
                                                    class="btn btn-small btn-flat btn-warning">
                                                    <i class="btn-icon-only fa fa-pencil"> </i>
                                                </button>

                                                <!-- <button style="margin-right:5px" title="Delete Location"
                                                    (click)="openDeleteLocation(data)"
                                                    class="btn btn-small btn-flat btn-danger">
                                                    <i class="btn-icon-only fa fa-trash"> </i>
                                                </button> -->

                                                <button [disabled]="data.subordinates && data.subordinates.length > 0"
                                                    style="margin-right:5px" title="Add Patient"
                                                    (click)="openAddPatient(data)"
                                                    class="btn btn-small btn-flat btn-default">
                                                    <i class="btn-icon-only fa  fa-user"> </i>
                                                </button>

                                                <button [disabled]="data.subordinates && data.subordinates.length > 0"
                                                    style="margin-right:5px" title="Add Quarantine Person"
                                                    (click)="openQuarantinePerson(data)"
                                                    class="btn btn-small btn-flat btn-default">
                                                    <i class="btn-icon-only fa  fa-user-plus"> </i>
                                                </button>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="box-footer">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" data-backdrop="static" id="addLocation">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Add Location</h4>
            </div>
            <form class="form-horizontal" name="addForm" (ngSubmit)="addForm.form.valid && addLocation(addForm)"
                #addForm="ngForm" novalidate>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-6 col-xs-12">
                            <div class="form-group ">
                                <div class="col-sm-2">
                                    <label for="placeName" class="control-label">Place:</label>
                                </div>

                                <div class="col-sm-10">

                                    <input name="placeId" id="placeId" [(ngModel)]="model.placeId" #placeId="ngModel"
                                        type="hidden" class="form-control" />

                                    <input id="placeName" type="text" autocomplete="off" class="form-control"
                                        name="placeName" [(ngModel)]="model.placeName" #placeName="ngModel"
                                        placeholder="Place" required>

                                    <div *ngIf="addForm.submitted && !placeName.valid" class="text-danger">Place is
                                        required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group ">
                                <div class="col-sm-2">
                                    <label for="type" class="control-label">Type:</label>
                                </div>

                                <div class="col-sm-10">

                                    <ng-select2 name="type" #type="ngModel" [(ngModel)]="model.type" [data]="types"
                                        [placeholder]="'Type'" required>
                                    </ng-select2>


                                    <div *ngIf="addForm.submitted && !type.valid" class="text-danger">Type is
                                        required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label for="latitude" class="control-label">Latitude:</label>
                                </div>

                                <div class="col-sm-10">
                                    <input id="latitude" type="text" autocomplete="off" class="form-control"
                                        name="latitude" [(ngModel)]="model.latitude" #latitude="ngModel"
                                        placeholder="Latitude" required>

                                    <div *ngIf="addForm.submitted && !latitude.valid" class="text-danger">Latitude is
                                        required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label for="longitude" class="control-label">Longitude:</label>
                                </div>

                                <div class="col-sm-10">
                                    <input id="longitude" type="text" autocomplete="off" class="form-control"
                                        name="longitude" [(ngModel)]="model.longitude" #longitude="ngModel"
                                        placeholder="Longitude" required>

                                    <div *ngIf="addForm.submitted && !longitude.valid" class="text-danger">Longitude is
                                        required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input id="istarget" [(ngModel)]="model.istarget" #istarget="ngModel"
                                                type="checkbox" id="istarget" name="istarget"> Has Root Location
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" [hidden]="!model.istarget">
                                <label for="longitude" class="col-sm-2 control-label">Root Location</label>

                                <div class="col-sm-10">

                                    <ng-select2 [required]="model && model.istarget ? true : null" id="rootId"
                                        name="rootId" #rootId="ngModel" [(ngModel)]="model.rootId"
                                        [data]="dropdownLocations" [placeholder]="'Root Location'" required>
                                    </ng-select2>


                                    <div *ngIf="addForm.submitted && !rootId.valid" class="text-danger">Root Location is
                                        required
                                    </div>

                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-flat" data-dismiss="modal">Close</button>
                    <button [disabled]="!addForm.form.valid" class="btn btn-info btn-flat">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" data-backdrop="static" id="editLocation">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Edit Location</h4>
            </div>
            <form class="form-horizontal" name="editForm" (ngSubmit)="editForm.form.valid && editLocation(editForm)"
                #editForm="ngForm" novalidate>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-6 col-xs-12">
                            <div class="form-group ">
                                <div class="col-sm-2">
                                    <label for="placeName" class="control-label">Place:</label>
                                </div>

                                <div class="col-sm-10">

                                    <input name="placeId" id="placeId" [(ngModel)]="model.placeId" #placeId="ngModel"
                                        type="hidden" class="form-control" />

                                    <input id="placeName" type="text" autocomplete="off" class="form-control"
                                        name="placeName" [(ngModel)]="model.placeName" #placeName="ngModel"
                                        placeholder="Place" required>

                                    <div *ngIf="editForm.submitted && !placeName.valid" class="text-danger">Place is
                                        required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group ">
                                <div class="col-sm-2">
                                    <label for="editForm" class="control-label">Type:</label>
                                </div>

                                <div class="col-sm-10">

                                    <ng-select2 name="type" #type="ngModel" [(ngModel)]="model.type" [data]="types"
                                        [placeholder]="'Type'" required>
                                    </ng-select2>


                                    <div *ngIf="editForm.submitted && !type.valid" class="text-danger">Type is
                                        required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label for="latitude" class="control-label">Latitude:</label>
                                </div>

                                <div class="col-sm-10">
                                    <input id="latitude" type="text" autocomplete="off" class="form-control"
                                        name="latitude" [(ngModel)]="model.latitude" #latitude="ngModel"
                                        placeholder="Latitude" required>

                                    <div *ngIf="editForm.submitted && !latitude.valid" class="text-danger">Latitude is
                                        required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label for="longitude" class="control-label">Longitude:</label>
                                </div>

                                <div class="col-sm-10">
                                    <input id="longitude" type="text" autocomplete="off" class="form-control"
                                        name="longitude" [(ngModel)]="model.longitude" #longitude="ngModel"
                                        placeholder="Longitude" required>

                                    <div *ngIf="editForm.submitted && !longitude.valid" class="text-danger">Longitude is
                                        required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input id="istarget" [(ngModel)]="model.istarget" #istarget="ngModel"
                                                type="checkbox" id="istarget" name="istarget"> Has Root Location
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" *ngIf="model.istarget">
                                <label for="longitude" class="col-sm-2 control-label">Root Location</label>

                                <div class="col-sm-10">
                                    <select name="rootId" #rootId="ngModel" [(ngModel)]="model.rootId" id="rootId"
                                        class="form-control" [required]="model.istarget ? true : null">
                                        <option *ngFor="let location of rootLocations; let i = index"
                                            value={{location.placeId}}>
                                            {{location.placeName}}
                                        </option>
                                    </select>

                                    <div *ngIf="editForm.submitted && !rootId.valid" class="text-danger">Root Location
                                        is
                                        required
                                    </div>

                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-flat" data-dismiss="modal">Close</button>
                    <button [disabled]="!editForm.form.valid" class="btn btn-info btn-flat">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" data-backdrop="static" id="deleteLocation">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Delete Location</h4>
            </div>
            <div class="modal-body">
                <p style="font-weight: bold;">
                    Do you want to delete {{model.placeName}} ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-flat" data-dismiss="modal">No</button>
                <button (click)="deleteLocation(model)" class="btn btn-info btn-flat">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-backdrop="static" id="addPatient">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Add Patient</h4>
            </div>
            <form class="form-horizontal" name="addPatientForm"
                (ngSubmit)="addPatientForm.form.valid && addPatient(addPatientForm)" #addPatientForm="ngForm"
                novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <input name="patientId" id="patientId" [(ngModel)]="patientModel.patientId"
                                    #patientId="ngModel" type="hidden" class="form-control" />

                                <input name="placeId" id="placeId" [(ngModel)]="patientModel.placeId" #placeId="ngModel"
                                    type="hidden" class="form-control" />

                                <label for="placeName" class="col-sm-3 control-label">Location:</label>

                                <div class="col-sm-9">
                                    <input id="placeName" type="text" autocomplete="off" class="form-control"
                                        name="placeName" [(ngModel)]="patientModel.placeName" #placeName="ngModel"
                                        placeholder="Location" readonly="true">

                                    <!-- <div *ngIf="addPatientForm.submitted && !placeName.valid" class="text-danger">
                                        Location is
                                        required
                                    </div> -->
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="firstName" class="col-sm-3 control-label">First Name:</label>

                                <div class="col-sm-9">
                                    <input id="firstName" type="text" autocomplete="off" class="form-control"
                                        name="firstName" [(ngModel)]="patientModel.firstName" #firstName="ngModel"
                                        placeholder="First Name" required>

                                    <div *ngIf="addPatientForm.submitted && !firstName.valid" class="text-danger">First
                                        Name is
                                        required
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="lastName" class="col-sm-3 control-label">Last Name:</label>

                                <div class="col-sm-9">
                                    <input id="lastName" type="text" autocomplete="off" class="form-control"
                                        name="lastName" [(ngModel)]="patientModel.lastName" #lastName="ngModel"
                                        placeholder="Last Name" required>

                                    <div *ngIf="addPatientForm.submitted && !lastName.valid" class="text-danger">First
                                        Name is
                                        required
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="age" class="col-sm-3 control-label">Age:</label>

                                <div class="col-sm-9">
                                    <input id="age" type="number" autocomplete="off" class="form-control" name="age"
                                        [(ngModel)]="patientModel.age" #age="ngModel" placeholder="Age" required>

                                    <div *ngIf="addPatientForm.submitted && !age.valid" class="text-danger">Age is
                                        required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="status" class="col-sm-3 control-label">Status:</label>

                                <div class="col-sm-9">
                                    <div class="row" style="padding-left: 15px;">
                                        <label class=" checkbox-inline">
                                            <input [(ngModel)]="patientModel.confirmed" id="status" #status="ngModel"
                                                name="confirmed" type="checkbox" checked="true" disabled="true">
                                            Confirmed
                                        </label>
                                    </div>

                                    <div class="row" style="padding-left: 15px;">
                                        <label class=" checkbox-inline">
                                            <input [(ngModel)]="patientModel.active" id="active" #active="ngModel"
                                                name="active" type="checkbox" checked="true" disabled="true"> Active
                                        </label>
                                    </div>

                                    <div class="row" style="padding-left: 15px;">
                                        <label class=" checkbox-inline">
                                            <input [(ngModel)]="patientModel.recovered" id="recovered"
                                                #recovered="ngModel" name="recovered" type="checkbox"> Recovered
                                        </label>
                                    </div>

                                    <div class="row" style="padding-left: 15px;">
                                        <label class=" checkbox-inline">
                                            <input [(ngModel)]="patientModel.deceased" id="deceased" #deceased="ngModel"
                                                name="deceased" type="checkbox"> Deceased
                                        </label>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="col-md-6 col-xs-12">

                            <div class="form-group">
                                <label for="gender" class="col-sm-3 control-label">Gender:</label>

                                <div class="col-sm-9">

                                    <select name="gender" #gender="ngModel" [(ngModel)]="patientModel.gender"
                                        id="gender" class="form-control" required>
                                        <option *ngFor="let type of genderTypes; let i = index" [value]="type.id">
                                            {{type.text}}
                                        </option>
                                    </select>

                                    <div *ngIf="addPatientForm.submitted && !gender.valid" class="text-danger">Gender
                                        is
                                        required
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="phoneNumber" class="col-sm-3 control-label">Phone:</label>

                                <div class="col-sm-9">
                                    <input id="phoneNumber" type="text" autocomplete="off" class="form-control"
                                        name="phoneNumber" [(ngModel)]="patientModel.phoneNumber" #phoneNumber="ngModel"
                                        placeholder="Phone Number" required>

                                    <div *ngIf="addPatientForm.submitted && !phoneNumber.valid" class="text-danger">
                                        Phone
                                        Number is
                                        required
                                    </div>
                                </div>

                            </div>


                            <div class="form-group">
                                <label for="email" class="col-sm-3 control-label">Email:</label>

                                <div class="col-sm-9">
                                    <input id="email" type="email" autocomplete="off" class="form-control" name="email"
                                        [(ngModel)]="patientModel.email" #email="ngModel" placeholder="Email" required>

                                    <div *ngIf="addPatientForm.submitted && !email.valid" class="text-danger">Email is
                                        required
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="address" class="col-sm-3 control-label">Address:</label>

                                <div class="col-sm-9">
                                    <input id="address" type="text" autocomplete="off" class="form-control"
                                        name="address" [(ngModel)]="patientModel.address" #address="ngModel"
                                        placeholder="Address" required>

                                    <div *ngIf="addPatientForm.submitted && !address.valid" class="text-danger">Address
                                        is
                                        required
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-flat" data-dismiss="modal">Close</button>
                    <button [disabled]="!addPatientForm.form.valid" class="btn btn-info btn-flat">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" data-backdrop="static" id="addQuarantinePerson">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Add Quarantine Person</h4>
            </div>
            <form class="form-horizontal" name="addQuarantineForm"
                (ngSubmit)="addQuarantineForm.form.valid && addQuarantinePerson(addQuarantineForm)"
                #addQuarantineForm="ngForm" novalidate>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <input name="patientId" id="patientId" [(ngModel)]="quarantinePersonModel.patientId"
                                    #patientId="ngModel" type="hidden" class="form-control" />

                                <input name="placeId" id="placeId" [(ngModel)]="quarantinePersonModel.placeId"
                                    #placeId="ngModel" type="hidden" class="form-control" />

                                <label for="placeName" class="col-sm-3 control-label">Location:</label>

                                <div class="col-sm-9">
                                    <input id="qplaceName" type="text" autocomplete="off" class="form-control"
                                        name="placeName" [(ngModel)]="quarantinePersonModel.placeName"
                                        #placeName="ngModel" placeholder="Location" readonly="true">

                                    <!-- <div *ngIf="addQuarantineForm.submitted && !placeName.valid" class="text-danger">
                                        Location is
                                        required
                                    </div> -->
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="firstName" class="col-sm-3 control-label">First Name:</label>

                                <div class="col-sm-9">
                                    <input id="firstName" type="text" autocomplete="off" class="form-control"
                                        name="firstName" [(ngModel)]="quarantinePersonModel.firstName"
                                        #firstName="ngModel" placeholder="First Name" required>

                                    <div *ngIf="addQuarantineForm.submitted && !firstName.valid" class="text-danger">
                                        First
                                        Name is
                                        required
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="lastName" class="col-sm-3 control-label">Last Name:</label>

                                <div class="col-sm-9">
                                    <input id="lastName" type="text" autocomplete="off" class="form-control"
                                        name="lastName" [(ngModel)]="quarantinePersonModel.lastName" #lastName="ngModel"
                                        placeholder="Last Name" required>

                                    <div *ngIf="addQuarantineForm.submitted && !lastName.valid" class="text-danger">
                                        First
                                        Name is
                                        required
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="age" class="col-sm-3 control-label">Age:</label>

                                <div class="col-sm-9">
                                    <input id="age" type="number" autocomplete="off" class="form-control" name="age"
                                        [(ngModel)]="quarantinePersonModel.age" #age="ngModel" placeholder="Age"
                                        required>

                                    <div *ngIf="addQuarantineForm.submitted && !age.valid" class="text-danger">Age
                                        is
                                        required
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="status" class="col-sm-3 control-label">Status:</label>

                                <div class="col-sm-9">
                                    <div class="row" style="padding-left: 15px;">
                                        <label class=" checkbox-inline">
                                            <input [(ngModel)]="quarantinePersonModel.quarantined" id="quarantined"
                                                #quarantined="ngModel" name="quarantined" type="checkbox" checked="true"
                                                disabled="true"> Quarantined
                                        </label>
                                    </div>

                                    <div class="row" style="padding-left: 15px;">
                                        <label class=" checkbox-inline">
                                            <input [(ngModel)]="quarantinePersonModel.released" id="released"
                                                #released="ngModel" name="released" type="checkbox"> Released
                                        </label>
                                    </div>

                                </div>
                            </div>


                        </div>

                        <div class="col-md-6 col-xs-12">

                            <div class="form-group">
                                <label for="gender" class="col-sm-3 control-label">Gender:</label>

                                <div class="col-sm-9">

                                    <select name="gender" #gender="ngModel" [(ngModel)]="quarantinePersonModel.gender"
                                        id="gender" class="form-control" required>
                                        <option *ngFor="let type of genderTypes; let i = index" [value]="type.id">
                                            {{type.text}}
                                        </option>
                                    </select>

                                    <div *ngIf="addQuarantineForm.submitted && !gender.valid" class="text-danger">Gender
                                        is
                                        required
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="phoneNumber" class="col-sm-3 control-label">Phone:</label>

                                <div class="col-sm-9">
                                    <input id="phoneNumber" type="text" autocomplete="off" class="form-control"
                                        name="phoneNumber" [(ngModel)]="quarantinePersonModel.phoneNumber"
                                        #phoneNumber="ngModel" placeholder="Phone Number" required>

                                    <div *ngIf="addQuarantineForm.submitted && !phoneNumber.valid" class="text-danger">
                                        Phone
                                        Number is
                                        required
                                    </div>
                                </div>

                            </div>


                            <div class="form-group">
                                <label for="email" class="col-sm-3 control-label">Email:</label>

                                <div class="col-sm-9">
                                    <input id="email" type="email" autocomplete="off" class="form-control" name="email"
                                        [(ngModel)]="quarantinePersonModel.email" #email="ngModel" placeholder="Email"
                                        required>

                                    <div *ngIf="addQuarantineForm.submitted && !email.valid" class="text-danger">
                                        Email is
                                        required
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="address" class="col-sm-3 control-label">Address:</label>

                                <div class="col-sm-9">
                                    <input id="address" type="text" autocomplete="off" class="form-control"
                                        name="address" [(ngModel)]="quarantinePersonModel.address" #address="ngModel"
                                        placeholder="Address" required>

                                    <div *ngIf="addQuarantineForm.submitted && !address.valid" class="text-danger">
                                        Address
                                        is
                                        required
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="quaratinedDate" class="col-sm-3 control-label">Date:</label>

                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control" [ngModelOptions]="{standalone: true}"
                                            #quaratinedDate="ngModel" name="quaratinedDate"
                                            #datepickerFull="bsDatepicker" bsDatepicker
                                            [(ngModel)]="quarantinePersonModel.quaratinedDate"
                                            [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" id="bsDatepickerAdd">

                                        <div class="input-group-addon" (click)='calTrig()'>
                                            <i class="fa fa-calendar"></i>
                                        </div>

                                        <div *ngIf="addQuarantineForm.submitted && !quaratinedDate.valid"
                                            class="text-danger">Date is required
                                        </div>
                                    </div>



                                </div>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-flat" data-dismiss="modal">Close</button>
                    <button [disabled]="!addQuarantineForm.form.valid" class="btn btn-info btn-flat">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>