<header class="main-header">

    <nav class="navbar navbar-static-top" style="margin-left: 0px;">
  
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
        
          <li class="dropdown messages-menu">
            <a href="javascript:void(0)" style="cursor: pointer;">
              <span>Login </span>
            </a>
          </li>
          <li class="dropdown user user-menu">
            <a href="javascript:void(0)" style="cursor: pointer;">
              <span>Register</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>