.product-img {
    float: inherit;
}
.product-info {
    margin-left: 0px !important;
}

.info-box-content {
    text-align: center;
}

td.child-table {
    background-color: #bfdbff;
}

.toolbar {
    float: left !important;
}

.img-with-text {
    text-align: justify;
    width: 50px !important;
    margin-left: auto;
    margin-right: auto;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


