<div>
  <section class="content-header">
    <div class="row">

      <div class="col-md-4 col-xs-12" style="font-weight: bold;">
        <span class="btn btn-block btn-social btn-bitbucket" style="cursor: default !important;">
          <i class="fa fa-clock-o"></i> {{lastUpdatedTime}}
        </span>
      </div>

      <div class="col-md-4 col-xs-12" style="font-weight: bold;font-size: 13px;">
        <span class="btn btn-block btn-social btn-linkedin" style="cursor: default !important;">
          <i class="fa fa-eye"></i> Selected Region - {{targetRegion}}
        </span>
      </div>

      <div class="col-md-4 col-xs-12" style="font-weight: bold;font-size: 13px;">
        <a class="btn btn-block btn-social btn-google" style="cursor: default !important;">
          <i class="fa fa-phone"></i> {{helpLineNumber}}
        </a>
      </div>

    </div>
  </section>

  <section class="content">

    <div class="col-md-12 callout callout-info" style="text-align: center;">
      <p>{{info}}</p>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-yellow">
          <span class="info-box-icon ">
            <i class="fa fa-arrow-circle-up"></i>
          </span>
          <div class="info-box-content">
            <span class="info-box-text">Active</span>
            <span class="info-box-text">[+{{covidInfo.activeToday ? covidInfo.activeToday : 0  }}]</span>
            <span class="info-box-number">{{covidInfo.active}}</span>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-red">
          <span class="info-box-icon ">
            <i class="fa fa-arrow-circle-up"></i>
          </span>
          <div class="info-box-content">
            <span class="info-box-text">Confirmed</span>
            <span class="info-box-text">[+{{covidInfo.conFirmedToday ? covidInfo.conFirmedToday : 0 }}]</span>
            <span class="info-box-number">{{covidInfo.confirmed}}</span>
          </div>
        </div>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-blue">
          <span class="info-box-icon ">
            <i class="fa fa-arrow-circle-up"></i>
          </span>
          <div class="info-box-content">
            <span class="info-box-text">Deceased</span>
            <span class="info-box-text">[+{{covidInfo.deceasedToday ? covidInfo.deceasedToday : 0 }}]</span>
            <span class="info-box-number">{{covidInfo.deceased}}</span>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-green">
          <span class="info-box-icon ">
            <i class="fa fa-arrow-circle-up"></i>
          </span>
          <div class="info-box-content">
            <span class="info-box-text">Recovered</span>
            <span class="info-box-text">[+{{covidInfo.recoveredToday ? covidInfo.recoveredToday : 0 }}]</span>
            <span class="info-box-number">{{covidInfo.recovered}}</span>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Region: India</h3>

          </div>
          <div class="box-body">
            <div id="chartdiv" style="width: 100%; height: 600px"></div>
          </div>
        </div>
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Region : India</h3>


          </div>
          <div class="box-body">
            <div class="table-responsive">
              <table id="locationTable" class="table table-bordered table-hover">
              </table>

             
            </div>
          </div>
        </div>
      </div>



      <div class="col-md-6">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Confirmed Spread Trends</h3>

          </div>
          <div class="box-body">
            <div id="confirmedChart" style="width: 100%; height: 200px"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Recovered Spread Trends</h3>

          </div>
          <div class="box-body">
            <div id="recoveredChart" style="width: 100%; height: 200px"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Deceased Spread Trends</h3>

          </div>
          <div class="box-body">
            <div id="deceasedChart" style="width: 100%; height: 200px"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Updates</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <ul class="products-list product-list-in-box">

              <li class="item" *ngFor="let data of updatesList">
                <div class="product-img">
                  <span class="time"><i class="fa fa-clock-o"></i> ABOUT <span>{{data.hour}}</span> HOURS AGO</span>
                </div>
                <div class="product-info">
                  <div class="product-title"></div>
                  <ul class="updates" *ngFor="let update of data.updates || []">
                    <li style="color: #999;">{{update.update}}</li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Patient Gender</h3>

          </div>
          <div class="box-body">
            <div id="patientGenderChart" style="width: 100%; height: 300px"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Patient Age</h3>

          </div>
          <div class="box-body">
            <div id="patientAgeChart" style="width: 100%; height: 300px"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-body" style="background-color: #fff1b0;">
            <div class="col-md-6 symptoms">
              <!-- <img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/symptoms.png" alt="symptoms" /> -->

              <h3 style="color: #fa7c01; text-align: center;">SYMPTOMS</h3>
              <br>
              <div class="col-md-4" *ngFor="let data of symptomsList">
                <div class="img-with-text">
                  <img src="data:{{data.fileType}};base64,{{data.data}}" alt="symptoms" width="50" height="50" />
                  <p style="text-align: center;">{{data.description}}</p>
                </div>

              </div>
            </div>

            <div class="col-md-6 corona">

              <div class="row">
                <h3 style="color: #fa7c01;text-align: center;">DO'S</h3>
                <br>
                <!-- <img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/block-one.png" alt="symptoms" /> -->

                <div class="col-md-4" *ngFor="let data of dosList">
                  <div class="img-with-text">
                    <img src="data:{{data.fileType}};base64,{{data.data}}" alt="symptoms" width="50" height="50" />
                    <p style="text-align: center;">{{data.description}}</p>
                  </div>
                </div>

              </div>
              <div class="row">


                <h3 style="color: #fa7c01;text-align: center;">DONT'S</h3>
                <br>
                <!-- <img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/block-two.png" alt="symptoms" /> -->

                <div class="col-md-4" *ngFor="let data of dontsList">
                  <div class="img-with-text">
                    <img src="data:{{data.fileType}};base64,{{data.data}}" alt="symptoms" width="50" height="50" />
                    <p style="text-align: center;">{{data.description}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>