<div>
  <section class="content-header">
    <div class="row">
      <span class="col-md-4" style="font-weight: bold;">
        India
      </span>
      <span class="col-md-8" style="text-align:right;font-weight: bold;font-size: 13px;">
        Last Updated about 1 hour Ago 09 APR, 20:50 IST
      </span>
    </div>
  </section>

  <section class="content">
    <div class="callout callout-info" style="text-align: center;">
      <p>{{info}}</p>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-yellow">
          <span class="info-box-icon ">
            <i class="fa fa-arrow-circle-up"></i>
          </span>
          <div class="info-box-content">
            <span class="info-box-text">Active</span>
            <span class="info-box-text">[+71]</span>
            <span class="info-box-number">757,078 </span>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-red">
          <span class="info-box-icon ">
            <i class="fa fa-arrow-circle-up"></i>
          </span>
          <div class="info-box-content">
            <span class="info-box-text">Confirmed</span>
            <span class="info-box-text">[0]</span>
            <span class="info-box-number">1,004,410</span>
          </div>
        </div>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-blue">
          <span class="info-box-icon ">
            <i class="fa fa-arrow-circle-up"></i>
          </span>
          <div class="info-box-content">
            <span class="info-box-text">Deceased</span>
            <span class="info-box-text">[+1]</span>
            <span class="info-box-number">52,948</span>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-green">
          <span class="info-box-icon ">
            <i class="fa fa-arrow-circle-up"></i>
          </span>
          <div class="info-box-content">
            <span class="info-box-text">Recovered</span>
            <span class="info-box-text">[+0]</span>
            <span class="info-box-number">216,342</span>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Region: India</h3>

          </div>
          <div class="box-body">
            <div id="chartdiv" style="width: 100%; height: 600px"></div>
          </div>
        </div>
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Region : India</h3>


          </div>
          <div class="box-body">
            <div class="table-responsive">
              <table id="statewise" class="table table-bordered table-hover">
              </table>

              <!-- <table id="dataTable" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Place</th>
                    <th>Active</th>
                    <th>Confirmed</th>
                    <th>Deceased</th>
                    <th>Recovered</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of stateList">
                    <td>{{data.state}}</td>
                    <td>{{data.active}}</td>
                    <td>{{data.confirmed}}</td>
                    <td>{{data.deaths}}</td>
                    <td>{{data.recovered}}</td>
                  </tr>
                </tbody>
              </table> -->
            </div>
          </div>
        </div>
      </div>



      <div class="col-md-6">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Confirmed Spread Trends</h3>

          </div>
          <div class="box-body">
            <div id="confirmedChart" style="width: 100%; height: 200px"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Recovered Spread Trends</h3>

          </div>
          <div class="box-body">
            <div id="recoveredChart" style="width: 100%; height: 200px"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Deceased Spread Trends</h3>

          </div>
          <div class="box-body">
            <div id="deceasedChart" style="width: 100%; height: 200px"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Updates</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <ul class="products-list product-list-in-box">

              <li class="item" *ngFor="let data of updatesList">
                <div class="product-img">
                  <span class="time"><i class="fa fa-clock-o"></i> ABOUT <span>{{data.hour}}</span> HOURS AGO</span>
                </div>
                <div class="product-info">
                  <div class="product-title"></div>
                  <ul class="updates" *ngFor="let update of data.updates || []">
                    <li style="color: #999;">{{update.update}}</li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Patient Gender</h3>

          </div>
          <div class="box-body">
            <div id="patientGenderChart" style="width: 100%; height: 300px"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Patient Age</h3>

          </div>
          <div class="box-body">
            <div id="patientAgeChart" style="width: 100%; height: 300px"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-body" style="background-color: #fff1b0;">
            <div class="col-md-6 symptoms">
              <!-- <img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/symptoms.png" alt="symptoms" /> -->
  
              <h3 style="color: #fa7c01; text-align: center;">SYMPTOMS</h3>
              <br>
              <div class="col-md-4" *ngFor="let data of symptomsList">
                <div class="img-with-text">
                  <img src="data:{{data.fileType}};base64,{{data.data}}" alt="symptoms" width="50" height="50" />
                  <p style="text-align: center;">{{data.description}}</p>
                </div>
  
              </div>
            </div>
  
            <div class="col-md-6 corona">
  
              <div class="row">
                <h3 style="color: #fa7c01;text-align: center;">DO'S</h3>
                <br>
                <!-- <img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/block-one.png" alt="symptoms" /> -->
  
                <div class="col-md-4" *ngFor="let data of dosList">
                  <div class="img-with-text">
                    <img src="data:{{data.fileType}};base64,{{data.data}}" alt="symptoms" width="50" height="50" />
                    <p style="text-align: center;">{{data.description}}</p>
                  </div>
                </div>
  
              </div>
              <div class="row">
  
  
                <h3 style="color: #fa7c01;text-align: center;">DONT'S</h3>
                <br>
                <!-- <img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/block-two.png" alt="symptoms" /> -->
  
                <div class="col-md-4" *ngFor="let data of dontsList">
                  <div class="img-with-text">
                    <img src="data:{{data.fileType}};base64,{{data.data}}" alt="symptoms" width="50" height="50" />
                    <p style="text-align: center;">{{data.description}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>
</div>