<section class="content-header">
    <h1>
        Quarantine Person
    </h1>
</section>
<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">

            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Add Quarantine Person</h3>
                </div>

                <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit($event, form.value)">
                    <div class="box-body">
                        <div class="col-md-6">

                            <div class="form-group">
                                <input name="patientId" maxlength="50" formControlName="patientId" id="patientId"
                                    type="hidden" class="form-control" />

                                <label for="firstName" class="col-sm-3 control-label">First Name</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" formControlName="firstName" id="firstName"
                                        name="firstName" placeholder="First Name">

                                    <small
                                        *ngIf="(submitted || firstName.dirty || firstName.touched) && firstName.hasError('required')"
                                        class="text-danger">Place is required</small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="lastName" class="col-sm-3 control-label">Last Name</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" formControlName="lastName" id="lastName"
                                        name="lastName" placeholder="Last Name">

                                    <small
                                        *ngIf="(submitted || lastName.dirty || lastName.touched) && lastName.hasError('required')"
                                        class="text-danger">Last Name is required</small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="age" class="col-sm-3 control-label">Age</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" formControlName="age" id="age" name="age"
                                        placeholder="Age">

                                    <small *ngIf="(submitted || age.dirty || age.touched) && age.hasError('required')"
                                        class="text-danger">Last Name is required</small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="phone" class="col-sm-3 control-label">Phone Number</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" formControlName="phone" id="phone"
                                        name="phone" placeholder="Phone Number">

                                    <small
                                        *ngIf="(submitted || phone.dirty || phone.touched) && phone.hasError('required')"
                                        class="text-danger">Phone is required</small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email" class="col-sm-3 control-label">Email</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" formControlName="email" id="email"
                                        name="email" placeholder="Email">

                                    <small
                                        *ngIf="(submitted || email.dirty || email.touched) && email.hasError('required')"
                                        class="text-danger">Email is required</small>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="address1" class="col-sm-3 control-label">Address 1</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" formControlName="address1" id="address1"
                                        name="address1" placeholder="Address 1">

                                    <small
                                        *ngIf="(submitted || address1.dirty || address1.touched) && address1.hasError('required')"
                                        class="text-danger">Address 1 is required</small>
                                </div>
                            </div>


                            <div class="form-group ">
                                <label for="address2" class="col-sm-3 control-label">Address 1</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" formControlName="address2" id="address2"
                                        name="address2" placeholder="Address 2">

                                    <small
                                        *ngIf="(submitted || address2.dirty || address2.touched) && address2.hasError('required')"
                                        class="text-danger">Address 2 is required</small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="address3" class="col-sm-3 control-label">Address 3</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" formControlName="address3" id="address3"
                                        name="address3" placeholder="Address 2">

                                    <small
                                        *ngIf="(submitted || address3.dirty || address3.touched) && address3.hasError('required')"
                                        class="text-danger">Address 3 is required</small>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="address4" class="col-sm-3 control-label">Address 4</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" formControlName="address4" id="address4"
                                        name="address4" placeholder="Address 4">

                                    <small
                                        *ngIf="(submitted || address4.dirty || address4.touched) && address4.hasError('required')"
                                        class="text-danger">Address 4 is required</small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="address5" class="col-sm-3 control-label">Address 5</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" formControlName="address5" id="address4"
                                        name="address5" placeholder="Address 5">

                                    <small
                                        *ngIf="(submitted || address5.dirty || address5.touched) && address5.hasError('required')"
                                        class="text-danger">Address 5 is required</small>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="zipcode" class="col-sm-3 control-label">ZipCode</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" formControlName="zipcode" id="zipcode"
                                        name="zipcode" placeholder="Zipcode">

                                    <small
                                        *ngIf="(submitted || zipcode.dirty || zipcode.touched) && zipcode.hasError('required')"
                                        class="text-danger">Zipcode is required</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        <button type="button" class="btn btn-default" style="margin-right: 15px;"
                            (click)="navigateToLocation()">Cancel</button>
                        <button type="submit" class="btn btn-primary" style="margin-right: 15px;">Submit</button>
                    </div>
                </form>




            </div>
        </div>
    </div>
</section>