
<section class="content-header">
    <h1>
        Location
    </h1>
</section>
<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Add Location</h3>
                </div>
                <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit($event, form.value)">
                    <div class="box-body">
                        <div class="col-md-6">

                            <div class="row">
                                <div class="col-xs-12 col-12 col-md-4 form-group">
                                  <input type="text"
                                         placeholder="Datepicker"
                                         class="form-control"
                                         bsDatepicker
                                         [bsConfig]="{ isAnimated: true }">
                                </div>
                                <div class="col-xs-12 col-12 col-md-4 form-group">
                                  <input type="text"
                                         placeholder="Daterangepicker"
                                         class="form-control"
                                         bsDaterangepicker
                                         [bsConfig]="{ isAnimated: true }">
                                </div>
                              </div>

                            <div class="form-group">
                                <label for="placeName" class="col-sm-2 control-label">Place</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" [formControl]="placeName" id="placeName"
                                        name="placeName" placeholder="Place">

                                    <small
                                        *ngIf="(submitted || placeName.dirty || placeName.touched) && placeName.hasError('required')"
                                        class="text-danger">Place is required</small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="latitude" class="col-sm-2 control-label">Latitude</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" [formControl]="latitude" id="latitude"
                                        name="latitude" placeholder="Latitude">

                                    <small
                                        *ngIf="(submitted || latitude.dirty || latitude.touched) && latitude.hasError('required')"
                                        class="text-danger">Latitude is required</small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="longitude" class="col-sm-2 control-label">Longitude</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" [formControl]="longitude" id="longitude"
                                        name="longitude" placeholder="Longitude">

                                    <small
                                        *ngIf="(submitted || longitude.dirty || longitude.touched) && longitude.hasError('required')"
                                        class="text-danger">Longitude is required</small>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" [formControl]="isTarget" id="isTarget"
                                                name="isTarget"> Target Location
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" *ngIf="showRoot">
                                <label for="longitude" class="col-sm-2 control-label">Root Location</label>

                                <div class="col-sm-10">
                                    <select name="rootId" [formControl]="rootId" id="rootId" class="form-control">
                                        <option [value]="location.placeId" *ngFor="let location of locations">
                                            {{location.placeName}}</option>
                                    </select>

                                    <small
                                        *ngIf="(submitted || rootId.dirty || rootId.touched) && rootId.hasError('required')"
                                        class="text-danger">Root Location is required</small>


                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="button" class="btn btn-default" style="margin-right: 15px;"
                            (click)="navigateToLocation()">Cancel</button>
                        <button type="submit" class="btn btn-primary" style="margin-right: 15px;">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>