<section class="content-header">
    <h1 *ngIf="isReadOnly">
        View Patient
    </h1>
    <h1 *ngIf="!isReadOnly">
        Edit Patient
    </h1>
</section>
<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">

            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title" *ngIf="!isReadOnly">Edit Patient</h3>
                    <h3 class="box-title" *ngIf="isReadOnly">View Patient</h3>
                </div>

                <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit($event, form.value)">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_1" data-toggle="tab">General Information</a></li>
                            <li><a href="#tab_2" data-toggle="tab">Location Information</a></li>
                            <li><a href="#tab_3" data-toggle="tab">Bluetooth Device Information</a></li>
                            <li><a href="#tab_4" data-toggle="tab">Status Information</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <input name="patientId" maxlength="50" formControlName="patientId"
                                            id="patientId" type="hidden" class="form-control" />

                                        <label for="firstName" class="col-sm-3 control-label">First Name</label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" formControlName="firstName"
                                                id="firstName" name="firstName" placeholder="First Name"
                                                [readonly]="isReadOnly">

                                            <small
                                                *ngIf="(submitted || firstName.dirty || firstName.touched) && firstName.hasError('required')"
                                                class="text-danger">First Name is required</small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="lastName" class="col-sm-3 control-label">Last Name</label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" formControlName="lastName"
                                                id="lastName" name="lastName" placeholder="Last Name"
                                                [readonly]="isReadOnly">

                                            <small
                                                *ngIf="(submitted || lastName.dirty || lastName.touched) && lastName.hasError('required')"
                                                class="text-danger">Last Name is required</small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="age" class="col-sm-3 control-label">Age</label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" formControlName="age" id="age"
                                                name="age" placeholder="Age" [readonly]="isReadOnly">

                                            <small
                                                *ngIf="(submitted || age.dirty || age.touched) && age.hasError('required')"
                                                class="text-danger">Last Name is required</small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="gender" class="col-sm-3 control-label">Gender</label>

                                        <div class="col-sm-9">

                                            <select name="gender" formControlName="gender" id="gender"
                                                class="form-control" required>
                                                <option *ngFor="let type of genderTypes; let i = index"
                                                    [value]="type.id">
                                                    {{type.text}}
                                                </option>
                                            </select>

                                            <small
                                                *ngIf="(submitted || gender.dirty || gender.touched) && gender.hasError('required')"
                                                class="text-danger">Phone is required</small>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="phoneNumber" class="col-sm-3 control-label">Phone Number</label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" formControlName="phoneNumber"
                                                id="phoneNumber" name="phoneNumber" placeholder="Phone Number"
                                                [readonly]="isReadOnly">

                                            <small
                                                *ngIf="(submitted || phoneNumber.dirty || phoneNumber.touched) && phoneNumber.hasError('required')"
                                                class="text-danger">Phone is required</small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="email" class="col-sm-3 control-label">Email</label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" formControlName="email" id="email"
                                                name="email" placeholder="Email" [readonly]="isReadOnly">

                                            <small
                                                *ngIf="(submitted || email.dirty || email.touched) && email.hasError('required')"
                                                class="text-danger">Email is required</small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="city" class="col-sm-3 control-label">City</label>

                                        <div class="col-sm-9">

                                            <div class="btn-group hierarchy-select" style="display: block;"
                                                data-resize="auto" id="example_one">
                                                <button type="button" [disabled]="isReadOnly"
                                                    class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                    <span class="selected-label pull-left">&nbsp;</span>
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <div class="dropdown-menu open">
                                                    <div class="hs-searchbox">
                                                        <input type="text" class="form-control" autocomplete="off">
                                                    </div>
                                                    <ul class="dropdown-menu inner" role="menu">
                                                        <li data-value="" data-level="" data-default-selected="">
                                                            <a href="#">Location</a>
                                                        </li>

                                                        <li *ngFor="let location of cities; let i = index"
                                                            [attr.class]="location.subordinates.length > 0 ? 'disabled' : ''"
                                                            [attr.data-value]="location.placeName"
                                                            [attr.data-level]="location.level">
                                                            <a href="#">{{location.placeName}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <input class="hidden hidden-field" name="example_one"
                                                    readonly="readonly" aria-hidden="true" type="text" />

                                                <input type="hidden" class="form-control" formControlName="city"
                                                    id="city" name="city" placeholder="City" required>

                                                <small
                                                    *ngIf="(submitted || city.dirty || city.touched) && city.hasError('required')"
                                                    class="text-danger">City is required</small>

                                            </div>

                                            <!-- <select name="city" formControlName="city" id="city" class="form-control"
                                                required>
                                                <option *ngFor="let location of cities; let i = index"
                                                    value={{location.placeName}}>
                                                    {{location.placeName}}
                                                </option>
                                            </select>

                                            <small
                                                *ngIf="(submitted || city.dirty || city.touched) && city.hasError('required')"
                                                class="text-danger">City is required</small> -->
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="address" class="col-sm-3 control-label">Address </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" formControlName="address"
                                                id="address" name="address" placeholder="Address"
                                                [readonly]="isReadOnly">

                                            <small
                                                *ngIf="(submitted || address.dirty || address.touched) && address.hasError('required')"
                                                class="text-danger">Address is required</small>
                                        </div>
                                    </div>


                                </div>
                                <div class="row text-left">
                                    <div class="col-md-12">

                                        <button *ngIf="isReadOnly" type="button" (click)="editInfo()"
                                            class="pad_ex btn btn-info btn-flat next-step">Edit</button>

                                        <button *ngIf="!isReadOnly" type="button" (click)="editInfo()"
                                            class="pad_ex btn btn-info btn-flat next-step">View</button>

                                    </div>
                                </div>

                                <div class="row text-right">
                                    <div class="col-md-12">
                                        <button type="button" (click)="BackToList()" class="btn btn-default"
                                            style="margin-right:5px">Cancel</button>

                                        <button type="button" (click)="previousTab()"
                                            class="pad_ex btn btn-default btn-flat prev-step"
                                            style="margin-right:5px">Previous</button>
                                        <button type="button" (click)="nextTab()"
                                            class="pad_ex btn btn-info btn-flat next-step">Next</button>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="tab_2">
                                <div class="table-responsive">

                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                        class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Location</th>
                                                <th>Latitude</th>
                                                <th>Longitude</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of locations;index as i">
                                                <td>{{i+1}}</td>
                                                <td>{{data.latitude}}</td>
                                                <td>{{data.longitude}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                </div>

                                <div class="row text-right">
                                    <div class="col-md-12">
                                        <button type="button" (click)="BackToList()" class="btn btn-default"
                                            style="margin-right:5px">Cancel</button>

                                        <button type="button" (click)="previousTab()"
                                            class="pad_ex btn btn-default btn-flat prev-step"
                                            style="margin-right:5px">Previous</button>
                                        <button type="button" (click)="nextTab()"
                                            class="pad_ex btn btn-info btn-flat next-step">Next</button>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="tab_3">
                                <div class="table-responsive">

                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                        class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Bluetooth Device Id</th>
                                                <th>Bluetooth Device Name</th>
                                                <th>Bluetooth Address</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of devices;index as i">
                                                <td>{{i+1}}</td>
                                                <td>{{data.blutoothDeviceName}}</td>
                                                <td>{{data.blutoothDeviceAddress}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                </div>

                                <div class="row text-right">
                                    <div class="col-md-12">
                                        <button type="button" (click)="BackToList()" class="btn btn-default"
                                            style="margin-right:5px">Cancel</button>

                                        <button type="button" (click)="previousTab()"
                                            class="pad_ex btn btn-default btn-flat prev-step"
                                            style="margin-right:5px">Previous</button>

                                        <button type="button" (click)="nextTab()"
                                            class="pad_ex btn btn-info btn-flat next-step">Next</button>

                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="tab_4">
                                <div class="row">
                                    <div class="col-md-3">

                                        <div class="col-sm-4 text-right">
                                            <label for="longitude" class="control-label "
                                                style="color: #444;">Confirmed</label>
                                        </div>

                                        <div class="col-sm-8">
                                            <div class="checkbox">
                                                <label>
                                                    <input formControlName="confirmed" id="confirmed" name="confirmed"
                                                        type="checkbox">
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-3">

                                        <div class="col-sm-4 text-right">
                                            <label for="longitude" class="control-label "
                                                style="color: #444;">Active</label>
                                        </div>

                                        <div class="col-sm-8">
                                            <div class="checkbox">
                                                <label>
                                                    <input formControlName="active" id="active" name="active"
                                                        type="checkbox">
                                                </label>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-3">

                                        <div class="col-sm-4 text-right">
                                            <label for="longitude" class="control-label "
                                                style="color: #444;">Recovered</label>
                                        </div>

                                        <div class="col-sm-8">
                                            <div class="checkbox">
                                                <label>
                                                    <input id="recovered" formControlName="recovered" name="recovered"
                                                        type="checkbox">
                                                </label>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-3">

                                        <div class="col-sm-4 text-right">
                                            <label for="longitude" class="control-label "
                                                style="color: #444;">Deceased</label>
                                        </div>

                                        <div class="col-sm-8">
                                            <div class="checkbox">
                                                <label>
                                                    <input id="deceased" formControlName="deceased" name="deceased"
                                                        type="checkbox">
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <br>


                                <div class="row text-right">
                                    <div class="col-md-12">
                                        <button type="button" (click)="BackToList()" class="btn btn-default"
                                            style="margin-right:5px">Cancel</button>

                                        <button type="button" (click)="previousTab()"
                                            class="pad_ex btn btn-default btn-flat prev-step"
                                            style="margin-right:5px">Previous</button>

                                        <button *ngIf="!isReadOnly" type="submit" id="btnSubmit"
                                            class="pad_ex btn btn-info btn-flat next-step">Save and Exit</button>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>