<section class="content-header">
    <h1>
        Organisation
    </h1>
</section>
<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Organisation</h3>
                    <button style="margin-right:5px" class="btn btn-info btn-flat pull-right"
                        (click)="openCreateOrganisation()">
                        Add Organisation
                    </button>
                    <button style="margin-right:5px" class="btn btn-info btn-flat pull-right"
                        (click)="openImportOrganisation()">
                        Import Organisation
                    </button>
                </div>
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <div class="table-responsive">

                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                    class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Category</th>
                                            <th>Organisation</th>
                                            <th>City</th>
                                            <th>State</th>
                                            <th>Country</th>
                                            <th>Phone Number</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of organisations; let i = index">
                                            <td>{{data.covidOrganizationId}}</td>
                                            <td>{{data.category}}</td>
                                            <td>{{data.organizationName}}</td>
                                            <td>{{data.city}}</td>
                                            <td>{{data.state}}</td>
                                            <td>{{data.country}}</td>
                                            <td>{{data.phoneNumber}}</td>
                                            <td>

                                                <button style="margin-right:5px" title="Edit Organisation"
                                                    (click)="openEditOrganisation(data)"
                                                    class="btn btn-small btn-flat btn-warning">
                                                    <i class="btn-icon-only fa fa-pencil"> </i>
                                                </button>

                                                <button style="margin-right:5px" title="Delete Organisation"
                                                    (click)="openDeleteOrganisation(data)"
                                                    class="btn btn-small btn-flat btn-danger">
                                                    <i class="btn-icon-only fa fa-trash"> </i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="box-footer">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" data-backdrop="static" id="deleteOrganisation">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Delete Organisation</h4>
            </div>
            <div class="modal-body">
                <p style="font-weight: bold;">
                    Do you want to delete {{model.name}} ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-flat" data-dismiss="modal">No</button>
                <button (click)="deleteOrganisation(model)" class="btn btn-info btn-flat">Yes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" data-backdrop="static" id="importOrganisation">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Import Organisation</h4>
            </div>
            <form class="form-horizontal" name="importForm"
                (ngSubmit)="importForm.form.valid && importOrganisation(importForm)" #importForm="ngForm" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <input class="form-control" type="file" #fileInput  accept=".xlsx, .xls "/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-flat" data-dismiss="modal">Close</button>
                    <button [disabled]="!importForm.form.valid" class="btn btn-info btn-flat">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>