<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>Covid</b> Tracker</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Forgot Password</p>

        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit($event, forgotPasswordForm.value)">

            <div>
                <span class="text-danger">{{message}}</span>
            </div>

            <br />

            <div class="form-group has-feedback">
                <input id="email" name="email" type="email" class="form-control" [formControl]="email" placeholder="Email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>

                <small *ngIf="submitted && email.hasError('required')" class="text-danger">Email is Required</small>

            </div>

            <div class="row">
                <div class="form-group has-feedback">
                    <div class="col-xs-4">
                    </div>

                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Submit</button>
                    </div>
                </div>
            </div>
            <div>
                <span class="text-danger">{{message}}</span>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12 text-center" style="margin-bottom:15px">
                  <p class="login-box-msg2 text-center">Remember Password? Please go to <a [routerLink]="['/login']">
                    Sign In</a> </p>
                </div>
              </div>
        </form>
    </div>
</div>