<section class="content-header">
    <h1 *ngIf="isReadOnly">
        View Quarantine Person
    </h1>
    <h1 *ngIf="!isReadOnly">
        Edit Quarantine Person
    </h1>
</section>
<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">

            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title" *ngIf="!isReadOnly">Edit Quarantine Person</h3>
                    <h3 class="box-title" *ngIf="isReadOnly">View Quarantine Person</h3>
                </div>

                <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit($event, form.value)">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_1" data-toggle="tab">General Information</a></li>
                            <li><a href="#tab_2" data-toggle="tab">Connected Person Information</a></li>
                            <li><a href="#tab_3" data-toggle="tab">Status Information</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <input name="quaratinedId" maxlength="50" formControlName="quaratinedId"
                                            id="quaratinedId" type="hidden" class="form-control" />

                                        <label for="firstName" class="col-sm-3 control-label">First Name</label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" formControlName="firstName"
                                                id="firstName" name="firstName" placeholder="First Name"
                                                [readonly]="isReadOnly">

                                            <small
                                                *ngIf="(submitted || firstName.dirty || firstName.touched) && firstName.hasError('required')"
                                                class="text-danger">First Name is required</small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="lastName" class="col-sm-3 control-label">Last Name</label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" formControlName="lastName"
                                                id="lastName" name="lastName" placeholder="Last Name"
                                                [readonly]="isReadOnly">

                                            <small
                                                *ngIf="(submitted || lastName.dirty || lastName.touched) && lastName.hasError('required')"
                                                class="text-danger">Last Name is required</small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="age" class="col-sm-3 control-label">Age</label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" formControlName="age" id="age"
                                                name="age" placeholder="Age" [readonly]="isReadOnly">

                                            <small
                                                *ngIf="(submitted || age.dirty || age.touched) && age.hasError('required')"
                                                class="text-danger">Last Name is required</small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="gender" class="col-sm-3 control-label">Gender</label>

                                        <div class="col-sm-9">

                                            <select name="gender" formControlName="gender" id="gender"
                                                class="form-control" required>
                                                <option *ngFor="let type of genderTypes; let i = index"
                                                    [value]="type.id">
                                                    {{type.text}}
                                                </option>
                                            </select>

                                            <small
                                                *ngIf="(submitted || gender.dirty || gender.touched) && gender.hasError('required')"
                                                class="text-danger">Phone is required</small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="quaratinedDate" class="col-sm-3 control-label">Date</label>

                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <input class="form-control" formControlName="quaratinedDate"
                                                    name="quaratinedDate" #datepickerFull="bsDatepicker" bsDatepicker
                                                    [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" id="bsDatepickerAdd">

                                                <div class="input-group-addon" (click)='calTrig()'>
                                                    <i class="fa fa-calendar"></i>
                                                </div>

                                                <small
                                                    *ngIf="(submitted || quaratinedDate.dirty || quaratinedDate.touched) && quaratinedDate.hasError('required')"
                                                    class="text-danger">Date is required</small>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="phoneNumber" class="col-sm-3 control-label">Phone Number</label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" formControlName="phoneNumber"
                                                id="phoneNumber" name="phoneNumber" placeholder="Phone Number"
                                                [readonly]="isReadOnly">

                                            <small
                                                *ngIf="(submitted || phoneNumber.dirty || phoneNumber.touched) && phoneNumber.hasError('required')"
                                                class="text-danger">Phone is required</small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="email" class="col-sm-3 control-label">Email</label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" formControlName="email" id="email"
                                                name="email" placeholder="Email" [readonly]="isReadOnly">

                                            <small
                                                *ngIf="(submitted || email.dirty || email.touched) && email.hasError('required')"
                                                class="text-danger">Email is required</small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="city" class="col-sm-3 control-label">City</label>

                                        <div class="col-sm-9">
                                            <select name="city" formControlName="city" id="city" class="form-control"
                                                required>
                                                <option *ngFor="let location of cities; let i = index"
                                                    value={{location.placeName}}>
                                                    {{location.placeName}}
                                                </option>
                                            </select>

                                            <small
                                                *ngIf="(submitted || city.dirty || city.touched) && city.hasError('required')"
                                                class="text-danger">City is required</small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="address" class="col-sm-3 control-label">Address</label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" formControlName="address"
                                                id="address" name="address" placeholder="Address">

                                            <small
                                                *ngIf="(submitted || address.dirty || address.touched) && address.hasError('required')"
                                                class="text-danger">Address is required</small>
                                        </div>
                                    </div>

                                </div>
                                <div class="row text-left">
                                    <div class="col-md-12">

                                        <button *ngIf="isReadOnly" type="button" (click)="editInfo()"
                                            class="pad_ex btn btn-info btn-flat next-step">Edit</button>

                                        <button *ngIf="!isReadOnly" type="button" (click)="editInfo()"
                                            class="pad_ex btn btn-info btn-flat next-step">View</button>

                                    </div>
                                </div>
                                <div class="row text-right">
                                    <div class="col-md-12">
                                        <button type="button" (click)="BackToList()" class="btn btn-default"
                                            style="margin-right:5px">Cancel</button>
                                        <button type="button" (click)="previousTab()"
                                            class="pad_ex btn btn-default btn-flat prev-step"
                                            style="margin-right:5px">Previous</button>
                                        <button type="button" (click)="nextTab()"
                                            class="pad_ex btn btn-info btn-flat next-step">Next</button>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="tab_2">
                                <div class="row">
                                    <div class="col-md-12" style="padding-bottom: 10px">
                                        <button type="button" (click)="CreateReferencePopup($event)"
                                            class="btn btn-info btn-flat pull-right" data-toggle="modal">
                                            Add Reference
                                        </button>
                                    </div>
                                </div>
                                <div class="table-responsive">

                                    <table datatable [dtOptions]="dtOptions" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Person</th>
                                                <th>Place</th>
                                                <th>Phone Number</th>
                                                <th>Date</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of references">
                                                <td>{{data.referenceId}}</td>
                                                <td>{{data.person}}</td>
                                                <td>{{data.placeName}}</td>
                                                <td>{{data.phoneNumber}}</td>
                                                <td>{{data.dateStr}}</td>
                                                <td>
                                                    <button style="margin-right:5px" title="Edit Location"
                                                        (click)="openEditReferencePopup($event, data)"
                                                        class="btn btn-small btn-flat btn-warning">
                                                        <i class="btn-icon-only fa fa-pencil"> </i>
                                                    </button>

                                                    <button style="margin-right:5px" title="Delete Location"
                                                        (click)="openDeleteReferencePopup($event, data)"
                                                        class="btn btn-small btn-flat btn-danger">
                                                        <i class="btn-icon-only fa fa-trash"> </i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                </div>

                                <div class="row text-right">
                                    <div class="col-md-12">
                                        <button type="button" (click)="BackToList()" class="btn btn-default"
                                            style="margin-right:5px">Cancel</button>

                                        <button type="button" (click)="previousTab()"
                                            class="pad_ex btn btn-default btn-flat prev-step"
                                            style="margin-right:5px">Previous</button>

                                        <button type="button" (click)="nextTab()"
                                            class="pad_ex btn btn-info btn-flat next-step">Next</button>


                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="tab_3">
                                <div class="row">

                                    <div class="col-md-4">

                                        <div class="col-sm-4 text-right">
                                            <label for="longitude" class="control-label "
                                                style="color: #444;">Quarantined</label>
                                        </div>

                                        <div class="col-sm-8">
                                            <div class="checkbox">
                                                <label>
                                                    <input id="quarantined" formControlName="quarantined"
                                                        name="quarantined" type="checkbox">
                                                </label>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-4">

                                        <div class="col-sm-4 text-right">
                                            <label for="longitude" class="control-label "
                                                style="color: #444;">Confirmed</label>
                                        </div>

                                        <div class="col-sm-8">
                                            <div class="checkbox">
                                                <label>
                                                    <input formControlName="confirmed" id="confirmed" name="confirmed"
                                                        type="checkbox">
                                                </label>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-4">

                                        <div class="col-sm-4 text-right">
                                            <label for="longitude" class="control-label "
                                                style="color: #444;">Released</label>
                                        </div>

                                        <div class="col-sm-8">
                                            <div class="checkbox">
                                                <label>
                                                    <input id="released" formControlName="released" name="released"
                                                        type="checkbox">
                                                </label>
                                            </div>
                                        </div>

                                    </div>





                                </div>
                                <div class="row">




                                </div>
                                <br>


                                <div class="row text-right">
                                    <div class="col-md-12">
                                        <button type="button" (click)="BackToList()" class="btn btn-default"
                                            style="margin-right:5px">Cancel</button>

                                        <button type="button" (click)="previousTab()"
                                            class="pad_ex btn btn-default btn-flat prev-step"
                                            style="margin-right:5px">Previous</button>

                                        <button *ngIf="!isReadOnly" type="submit" id="btnSubmit"
                                            class="pad_ex btn btn-info btn-flat next-step">Save and Exit</button>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" data-backdrop="static" id="addReference">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Add Reference</h4>
            </div>
            <form class="form-horizontal" name="f" (ngSubmit)="f.form.valid && addReference(f)" #f="ngForm" novalidate>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-6 col-xs-12">
                            <div class="form-group ">
                                <div class="col-sm-4">
                                    <label for="placeName" class="control-label">Location:</label>
                                </div>

                                <div class="col-sm-8">

                                    <input name="referenceId" id="referenceId" [(ngModel)]="referenceModel.referenceId"
                                        #referenceId="ngModel" type="hidden" class="form-control" />

                                    <input id="placeName" type="text" autocomplete="off" class="form-control"
                                        name="placeName" [(ngModel)]="referenceModel.placeName" #placeName="ngModel"
                                        placeholder="Location" required>
                                    <!-- 
                                    <select name="placeName" #placeName="ngModel" [(ngModel)]="referenceModel.placeName"
                                        id="placeName" class="form-control" required>
                                        <option *ngFor="let location of locations; let i = index"
                                            value={{location.placeId}}>
                                            {{location.placeName}}
                                        </option>
                                    </select> -->


                                    <div *ngIf="f.submitted && !placeName.valid" class="text-danger">Location is
                                        required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label for="person" class="control-label">Person:</label>
                                </div>

                                <div class="col-sm-8">

                                    <input id="person" type="text" autocomplete="off" class="form-control" name="person"
                                        [(ngModel)]="referenceModel.person" #person="ngModel" placeholder="Person"
                                        required>

                                    <!-- <select name="patient" #patient="ngModel" [(ngModel)]="referenceModel.patient"
                                        id="patient" class="form-control" required>
                                        <option *ngFor="let person of Persons; let i = index" value={{person.id}}>
                                            {{person.name}}
                                        </option>
                                    </select> -->

                                    <div *ngIf="f.submitted && !person.valid" class="text-danger">Patient is required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label for="phoneNumber" class="control-label">Phone Number:</label>
                                </div>

                                <div class="col-sm-8">
                                    <input id="status" type="text" autocomplete="off" class="form-control"
                                        name="phoneNumber" [(ngModel)]="referenceModel.phoneNumber"
                                        #phoneNumber="ngModel" placeholder="Phone Number" required>

                                    <div *ngIf="f.submitted && !phoneNumber.valid" class="text-danger">Phone Number is
                                        required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label for="status" class="control-label">Status:</label>
                                </div>

                                <div class="col-sm-8">
                                    <input id="status" type="text" autocomplete="off" class="form-control" name="status"
                                        [(ngModel)]="referenceModel.status" #status="ngModel" placeholder="Status"
                                        required>

                                    <div *ngIf="f.submitted && !status.valid" class="text-danger">Status is required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label for="severity" class="control-label">Severity:</label>
                                </div>

                                <div class="col-sm-8">
                                    <input id="severity" type="text" autocomplete="off" class="form-control"
                                        name="severity" [(ngModel)]="referenceModel.severity" #severity="ngModel"
                                        placeholder="Severity" required>

                                    <div *ngIf="f.submitted && !severity.valid" class="text-danger">Severity is required
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label for="date" class="control-label">Date:</label>
                                </div>

                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input class="form-control" [ngModelOptions]="{standalone: true}"
                                            #date="ngModel" name="date" #datepickerFull="bsDatepicker" bsDatepicker
                                            [(ngModel)]="referenceModel.date"
                                            [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" id="bsDatepickerRefAdd"
                                            required>

                                        <div class="input-group-addon" (click)='calTrigDatepickerRef()'>
                                            <i class="fa fa-calendar"></i>
                                        </div>

                                        <div *ngIf="f.submitted && !date.valid" class="text-danger">Date is required
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label for="reason" class="control-label">Reason:</label>
                                </div>

                                <div class="col-sm-8">
                                    <input id="reason" type="text" autocomplete="off" class="form-control" name="reason"
                                        [(ngModel)]="referenceModel.reason" #reason="ngModel" placeholder="Reason"
                                        required>

                                    <div *ngIf="f.submitted && !reason.valid" class="text-danger">Reason is required
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-flat" data-dismiss="modal">Close</button>
                    <button [disabled]="!f.form.valid" class="btn btn-info btn-flat">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" data-backdrop="static" id="editReference">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Edit Reference</h4>
            </div>
            <form class="form-horizontal" name="f" (ngSubmit)="f.form.valid && editReference(f)" #f="ngForm" novalidate>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-6 col-xs-12">
                            <div class="form-group ">
                                <div class="col-sm-4">
                                    <label for="placeName" class="control-label">Location:</label>
                                </div>

                                <div class="col-sm-8">


                                    <input name="referenceId" id="referenceId" [(ngModel)]="referenceModel.referenceId"
                                        #referenceId="ngModel" type="hidden" class="form-control" />

                                    <input id="placeName" type="text" autocomplete="off" class="form-control"
                                        name="placeName" [(ngModel)]="referenceModel.placeName" #placeName="ngModel"
                                        placeholder="Location" required>

                                    <!-- <select name="placeName" #placeName="ngModel" [(ngModel)]="referenceModel.placeName"
                                        id="placeName" class="form-control" required>
                                        <option *ngFor="let location of locations; let i = index"
                                            value={{location.placeId}}>
                                            {{location.placeName}}
                                        </option>
                                    </select> -->


                                    <div *ngIf="f.submitted && !placeName.valid" class="text-danger">Location is
                                        required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label for="patient" class="control-label">Person:</label>
                                </div>

                                <div class="col-sm-8">

                                    <input id="person" type="text" autocomplete="off" class="form-control" name="person"
                                        [(ngModel)]="referenceModel.person" #person="ngModel" placeholder="Person"
                                        required>

                                    <div *ngIf="f.submitted && !person.valid" class="text-danger">Person is required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label for="phoneNumber" class="control-label">Phone Number:</label>
                                </div>

                                <div class="col-sm-8">
                                    <input id="status" type="text" autocomplete="off" class="form-control"
                                        name="phoneNumber" [(ngModel)]="referenceModel.phoneNumber"
                                        #phoneNumber="ngModel" placeholder="Phone Number" required>

                                    <div *ngIf="f.submitted && !phoneNumber.valid" class="text-danger">Phone Number is
                                        required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label for="status" class="control-label">Status:</label>
                                </div>

                                <div class="col-sm-8">
                                    <input id="status" type="text" autocomplete="off" class="form-control" name="status"
                                        [(ngModel)]="referenceModel.status" #status="ngModel" placeholder="Status"
                                        required>

                                    <div *ngIf="f.submitted && !status.valid" class="text-danger">Status is required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label for="severity" class="control-label">Severity:</label>
                                </div>

                                <div class="col-sm-8">
                                    <input id="severity" type="text" autocomplete="off" class="form-control"
                                        name="severity" [(ngModel)]="referenceModel.severity" #severity="ngModel"
                                        placeholder="Severity" required>

                                    <div *ngIf="f.submitted && !severity.valid" class="text-danger">Severity is required
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label for="date" class="control-label">Date:</label>
                                </div>

                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input class="form-control" [ngModelOptions]="{standalone: true}"
                                            #date="ngModel" name="date" #datepickerFull="bsDatepicker" bsDatepicker
                                            [(ngModel)]="referenceModel.date"
                                            [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" id="bsDatepickerRefAdd"
                                            required>

                                        <div class="input-group-addon" (click)='calTrigDatepickerRef()'>
                                            <i class="fa fa-calendar"></i>
                                        </div>

                                        <div *ngIf="f.submitted && !date.valid" class="text-danger">Date is required
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label for="reason" class="control-label">Reason:</label>
                                </div>

                                <div class="col-sm-8">
                                    <input id="reason" type="text" autocomplete="off" class="form-control" name="reason"
                                        [(ngModel)]="referenceModel.reason" #reason="ngModel" placeholder="Reason"
                                        required>

                                    <div *ngIf="f.submitted && !reason.valid" class="text-danger">Reason is required
                                    </div>
                                </div>
                            </div>

                        </div>



                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-flat" data-dismiss="modal">Close</button>
                    <button [disabled]="!f.form.valid" class="btn btn-info btn-flat">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" data-backdrop="static" id="deleteReference">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Delete Reference</h4>
            </div>
            <div class="modal-body">
                <p style="font-weight: bold;">
                    Do you want to delete {{referenceModel.person}} ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-flat" data-dismiss="modal">No</button>
                <button (click)="deleteReference(referenceModel)" class="btn btn-info btn-flat">Yes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>